<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>de.goldkunibert.BetterBahn.endLiveActivity</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Damit bei der Bahnhofssuche Bahnhöfe in deiner Nähe zuerst angezeigt werden.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>de.goldkunibert.BetterBahn.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>betterbahn</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
